<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true"
         bootstrap="./tests/bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <php>
        <env name="ALGOLIA_ID" value="" />
        <env name="ALGOLIA_KEY" value="" />
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory> ./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
